/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@tailwind components;

html {
  @apply antialiased;
  @apply text-base;
  @apply text-black;
  text-rendering: optimizeLegibility;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button:focus .outline-none {
  @apply outline-none;
}

button,
input {
  outline-color: #000;
}

@tailwind utilities;
